.button {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
            touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
       -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
  color: white;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
